<h1>Pages#contact</h1>
<form>
  <div class="grid">
    <div>
      <label for="name">Name</label>
      <input type="name" id="name" name="name" placeholder="Name" required>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Email" required>
      <label for="comments">Comments</label>
      <textarea name="textarea"></textarea>
      <button type="submit">Submit</button>
    </div>
  </div>
</form>
