<hgroup>
  <!-- Nombre -->
  <h1>Brayan Diaz C</h1>
  <!-- Cargo -->
  <h2>Full Stack Developer | Coding | Teacher | Blogging</h2>
</hgroup>

<div class="grid">
  <div>
    <!-- Email -->
    <a href="mailto:brayandiazc@gmail.com">brayandiazc@gmail.com</a>
    <!-- Descripci칩n de tu perfil, hobbies y pasiones -->
    <p>Soy <strong>Full Stack Developer</strong>, con 4 a침os de experiencia, mi principal Stack tecnologico se basa en Ruby on Rails, PostgreSQL, AWS, React JS, React Native. Tengo experiencia en Python, NodeJS y sus tecnolog칤as deribadas. Se que esta mal que yo lo diga, pero soy muy bueno en el dise침o frontend 游땦.</p>
    <p>Me gusta sentirme due침o de los proyectos en los que trabajo y no solo escribir c칩digo, sino tambi칠n tener una visi칩n cr칤tica del producto, las funcionalidades y el modelo de negocio. No soy solo un profesional que escribe codigo, soy un profesional que soluciona problemas.</p>
    <h3>Ultimos 2 Empleos</h3>
    <ul>
      <li>Adalid, Teacher</li>
      <li>Desaf칤o Latam, Teacher</li>
    </ul>
  </div>
  <div>
    <%= image_tag("imagen.jpg", alt: "Imagen", class: "img-responsive") %>
  </div>
</div>
